<% content_for :header_links do %> 
  <a class="list" href="/lists/new">Create a New List</a>
<% end %> 

<ul id="lists">
  <% sort_list(@lists) do |list, id| %>
    <li class="<%= list_class(list) %>">
      <a href="/lists/<%= id %>">
        <h2><%= list[:name] %></h2>
        <p>
          <%= todos_remaining_count(list) %> / <%= todos_count(list)  %>
        </p>
        </a>
    </li>
  <% end %>
</ul>

